.headline {
  text-align: center;
}

form,
label,
input {
  display: block;
}

.headline {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  margin-bottom: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  font-size: 12px;
  color: black;
}

.input {
  width: 150px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-weight: 500;
  outline: none;
  border-radius: 2px;
  border: 1px solid grey;
}

.btn {
  display: block;
  margin: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 500;
  outline: none;
  border: none;
  border-radius: 2px;
}

.btn:hover {
  cursor: pointer;
  border: none;
  color: #ffffff;
  text-align: center;
  background: #ff6b08;
}
