.container {
  display: flex;
  margin-left: auto;
}

.link {
  width: 112px;
  height: 44px;
  padding-top: 10px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.33;
  text-align: center;
  text-decoration: none;
  color: black;

  box-sizing: border-box;
  border-radius: 5px;

  background: #ffffff;
}

.link:not(:last-child) {
  margin-right: 15px;
}

.link:hover {
  cursor: pointer;
  border: none;
  color: #ffffff;
  text-align: center;
  background: #ff6b08;
}

.activeLink {
  text-decoration: none;
  border: none;
  color: #ffffff;
  text-align: center;
  background: #ff6b08;
}
